.recipe{
    background-color: blue;
    max-width: 35vw;
    padding: 1em;
    font-size: 3em;
}
.recipe > * {
    background-color: blue;
}
.recipe button {
    padding: .4em;
    font-size: 1em;
    margin: .4em;
    border-radius: .6em;
}
.recipe button:hover{
    cursor: pointer;
}